<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body class="container mt-5">

<h2>Авторизация</h2>

<div id="error" class="text-danger mb-3"></div>

<form id="loginForm">
    <div class="mb-3">
        <label>Логин</label>
        <input type="text" name="email" class="form-control">
    </div>

    <div class="mb-3">
        <label>Пароль</label>
        <input type="password" name="password" class="form-control">
    </div>

    <button class="btn btn-primary">Войти</button>
</form>

<script>
    document.getElementById('loginForm').addEventListener('submit', async function(e) {
        e.preventDefault();

        const formData = new FormData(this);

        const response = await fetch('/auth/login/', {
            method: 'POST',
            body: formData
        });

        const data = await response.json();

        console.log(response)

        if (response.ok) {
            // сохраняем JWT
            localStorage.setItem('token', data.access_token);

            // редирект
            //window.location.href = '/';
        } else {
            document.getElementById('error').innerText = data.message || 'Ошибка авторизации';
        }
    });
</script>

</body>
</html>